mixin menuLink(title, href = "#")
	li.header-menu-item
		a.header-menu-link(href= href)= title

mixin headerBottomItem(number, title)
	.header-bottom-item
		span.header-bottom-number= number
		span.header-bottom-text= title

mixin blockBox(caption, title, desc)
	.block-box
		h3.block-box-caption= caption
		h2.block-box-heading= title
		if desc
			p.block-box-desc= desc

mixin aboutItem(src, title, iconClass, alt = "")
	.about-item
		img.about-image(src= src, alt= alt)
		.about-content
			i.about-icon(class= iconClass)
			span.about-title= title

mixin serviceItem(src, title, desc)
	.service-item
		img.service-item-icon(src= src)
		.service-item-info
			h3.service-item-title= title
			p.service-item-desc= desc

mixin wedoItem(src, title, desc, active = "")
	.wedo-item(class= active)
		.wedo-item-header
			img(src= src).wedo-item-icon
			h3.wedo-item-title= title
			i.fal.fa-angle-up.wedo-item-arrow
		.wedo-item-content
			.wedo-item-text= desc

mixin teamSocial(facebook = "#", twitter = "#", pinterest = "#", instagram = "#")
	ul.team-social
		li.team-social-item
			a.team-social-link(href= facebook)
				i.fab.fa-facebook-f
		li.team-social-item
			a.team-social-link(href= twitter)
				i.fab.fa-twitter
		li.team-social-item
			a.team-social-link(href= pinterest)
				i.fab.fa-pinterest
		li.team-social-item
			a.team-social-link(href= instagram)
				i.fab.fa-instagram

mixin teamItem(src = "./images/img-team.jpg", name = "Christopher John", position = "Frontend Developer")
	.team-item
		.team-main
			img(src= src).team-image
			.team-content
				if block
					block
		.team-info
			h3.team-name= name
			span.team-position= position

mixin workItem(src = "./images/img-work1.png", icon = "fa fa-home", title = "Photographer Super", full = "", desc = "Lorem ipsum dolor sit")
	.work-item(class= full)
		img.work-image(src= src)
		.work-content
			i.work-icon(class= icon)
			h3.work-title= title
			span.work-desc.text.text--light= desc